@model Capstone490.Models.Club

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Club</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_Max)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_Max)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_Min)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_Min)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_Max)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Max)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_Min)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Min)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E_Max)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E_Max)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E_Min)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E_Min)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.A_Max)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.A_Max)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.A_Min)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.A_Min)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_Max)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_Max)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_Min)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_Min)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClubID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
